[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=/usr/local/bin/dwm
TryExec=/usr/local/bin/dwm
DesktopNames=dwm
Name=dwm
Name[en_GB]=dwm
Comment[en_GB]=dwm by suckless.org
X-KDE-PluginInfo-Version=6.0
