#!/usr/bin/env rc

fn usage {
  echo 'usage: mk9iso <amd64|386>' >[1=2]
  exit usage
}

if ( ! ~ $#* 1)
  usage

arch=""

switch ($1) {
  case 386 i386
    arch=386
  case amd64 x86_64
    arch=amd64
  case *
    echo unknown or unsupported architecture $i >[1=2]
    exits "unsupported architecture"
}

build=0e66f87316e571f7edf5274369ec69a5905507aa
n=9442

fn dl {
  iso=9front-$n.$build.$arch.iso.gz
  mkdir $arch
  wget -O - https://9front.org/iso/$iso | gunzip -c > $arch/plan9.$arch.iso
}

dl

cat > $arch/plan9.ini <<EOF
# See plan.ini(1): https://man.9front.org/8/plan9.ini
cdboot=yes
mouseport=ps2
monitor=vesa
vgasize=1400x1050x32
ether1=igbepcie
ether2=wpi
bootfile=9pc
audio=hda
EOF

echo dd if=$arch of=$arch /dev/sdX
