#!/bin/bash

# colorize manual pages
man() {
	local width
	width=$(tput cols)
	if [ "$width" -gt 80 ] ; then
		width=80
	fi

	env \
		LESS_TERMCAP_mb="$(printf '\e[1;31m')" \
		LESS_TERMCAP_md="$(printf '\e[1;31m')" \
		LESS_TERMCAP_me="$(printf '\e[0m')" \
		LESS_TERMCAP_se="$(printf '\e[0m')" \
		LESS_TERMCAP_so="$(printf '\e[1;44;33m')" \
		LESS_TERMCAP_ue="$(printf '\e[0m')" \
		LESS_TERMCAP_us="$(printf '\e[1;32m')" \
		MANWIDTH="$width" \
		man "$@"
}

gpg_tty() {
	gpg-connect-agent updatestartuptty /bye
}

9man() {
	9 man "$@" | $MANPAGER
}

gpg-pubkey() {
	gpg2 --export --armor "$KEY"
}

godoc() {
	go doc "$@" | $MANPAGER
}

gohelp() {
	go help "$@" | $MANPAGER
}

# perform a DNS lookup with ANY query returning must useful info
digany() {
	dig +nocmd "$1" any +multiline +noall +answer
}

# perform a reverse DNS lookup and return only the result
rev-dns() {
	dig -x "$1" +short
}

cds() {
  local d="$1"
  if [[ -z "$d" ]]; then
    printf "cds: missing name\\n" 1>&2
    return 1
  fi

  if cd "$d" 2>/dev/null; then
    return 0
  fi

  # search from current directory first
  local subdir
  subdir="$(find "$(pwd)" -maxdepth 3 -type d -name "$d" -print -quit 2>/dev/null)"
  if [[ -n "$subdir" ]]; then
    cd "$subdir" || return 1
    return 0
  fi

  # search for git repos in $HOME
  local repo
  repo="$(find "$HOME" -maxdepth 4 -type d -name "$d" -exec test -d '{}'/.git \; -print -quit 2>/dev/null)"
  if [[ -n "$repo" ]]; then
    cd "$repo" || return 1
    return 0
  fi

  printf "cds: %s: not found\\n" "$d" 1>&2
  return 1
}
